.five-a {
    font-family: Tahoma;
    font-size: 25px;
    font-weight: bold;
}
.five-b {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.deals {
    font-size: 25px;
    font-weight: bold;
}
.sales {
    color: rgb(218, 69, 69);
    font-size: 17px;
    font-style: oblique;
    margin-top: 10px;
}
.five-c {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}
.title {
    font-weight: bold;
}
.level {
    color: rgb(118, 117, 117);
    font-size: 14px;
}
.text {
    font-size: 14px;
}
.b {
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    height: 30px;
    width: 100px;
}
.five-d {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    width: 80%;
    margin: auto;
    
}
.h {
    font-weight: bold;
    font-size:22px;
}
.h2 {
    font-size: 16px;
    color: gray;
    text-align: center;
    margin-top: 5px;
}
.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    text-align:center;
    font-size: 16px;
    display:block;
}
.five-e{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 0;
}
.e1{
    font-size: 14px;
    color:orangered;
    font-weight: bold;
    
}
.e2{
    font-weight: bold;
    font-size: 20px;
    color: rgb(29, 29, 29);
}
.e3{
    font-weight: bold;
    font-size:36px;
}
.e4{
    color:rgb(46, 46, 46);
    font-size: 14px;
    
}
.buy{
    color:white;
    background-color: rgb(41,118,211);
    border:none;
    border-radius:20px;
    padding: 8px 17px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.five-f{
    font-family: Arial, Helvetica, sans-serif;
}
.f1{
    font-size: 20px;
    
}
.f2{
    color:rgb(71, 71, 71);
    font-size: 14px;
}
.f3{
    color:green;
    font-size: 14px;
}
.f4{
    color:rgb(71, 71, 71);
    font-size: 14px;
}
.f5{
    font-size: 10px;
    color:rgb(221, 69, 69);
}
.five-g{
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
}
.username{
    color:gray;
}
.g3{
    color:rgb(106, 106, 255);  
}